{% extends 'kingadmin/index.html' %}
{% load admin_tags %}

{% block page-title-text %}
{{ model_verbose_name }}

{% endblock %}

{% block searchbox %}{% endblock %}

{% block extra_head_resources %}


{% endblock %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'table_index' %}">Home</a></li>
        <li><a href="{% url 'app_tables'  app_name %}">{{ app_name|capfirst }}</a></li>
        <li><a href="{% url 'table_list' app_name model_name %}">{{ model_verbose_name }}</a></li>
        <li class="active"> 修改 {{ model_verbose_name }}</li>
    </ol>
 {% endblock %}

{% block page-content %}



{% include 'kingadmin/filter_search_box.html' %}

{% include 'kingadmin/components/object_change.html' %}

{% endblock %}