{% extends 'index.html' %}
{% load beeflow_tags %}

{% block page-title-text %}
  流程详情
{% endblock %}

{% block page-content %}

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">{{ flow_obj }}</h3>
        </div>

        <!-- Striped Table -->
        <!--===================================================-->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>环节</th>
                            <th>审批人</th>

                            <th>审批人意见</th>
                            <th>审批时间</th>
                            <th>审批状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for step_record in flow_obj.flowrecord_set.all %}
                        <tr>
                            <td>{{ step_record.step }}</td>
                            <td>{{ step_record.user }}</td>
                            <td>{{ step_record.comment }}</td>
                            <td>{{ step_record.date }}</td>
                            <td>{{ step_record.get_status_display }}</td>

                            <td>{{ obj.date }}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}
