{% extends 'index.html' %}
{% load custom_tags %}

{% block breadcrumb %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="{% url 'customers' %}">客户库</a></li>
    <li class="active">客户详情页</li>
</ol>
{% endblock %}


{% block page-title-text %}
  客户信息修改
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-md-12 ">
            <!--Basic Panel-->
            <!--===================================================-->

            {% include 'kingadmin/filter_search_box.html' %}

            {% include 'kingadmin/components/object_change.html' %}

            <!--===================================================-->
            <!--End Basic Panel-->
        </div>
    </div>

    <script src="/static/kingadmin/js/kingadmin/king_admin.js" > </script>

{% endblock %}

